meta(name="viewport" content="width=device-width,initial-scale=1")
meta(name="description" content=`${pagedescription}`)
title #{pagetitle}


link(rel="icon" href="/favicon.ico")
link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
link(rel="manifest" href="/manifest.json")
link(rel="author" href="/humans.txt")
link(rel="stylesheet" href="/css/style.css")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet")
script(src="/js/main.js"  type="module" defer)
